html,
body {
  height: 100%;
  width: 100%;
  background-image: url("../assets/home.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Center vertically */
}
.header {
  min-width: 100%;
  text-align: center;
  font-family: monospace, monospace;
  background: linear-gradient(to right, white, grey);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  //font-size: 0.1rem;
  overflow: auto;
  //height: 1000px;
  //min-height: 100%;
  //min-width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sun {
  align-self: center;
  width: min-content;
  animation: rotate 2s linear infinite;
}

#mapContainer {
  transform: translateY(50vh);
}
